<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Modal Trigger -->
<% if (  message ) { %>
<a href="#!" class="collection-item"><span class="new badge"></span><%= message %></a>
<% } %>

<a class="waves-effect waves-light btn modal-trigger" href="#modalAddUser">Add new user.</a>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, { opacity: 0.5 });
  });
</script>
<!-- Modal Structure -->
<div id="modalAddUser" class="modal">
  <div class="modal-content">
    <h4>New user:</h4>
    <form method="POST" action="/v1/users/create">
      <div class="input-field col s12">
        <input id="fullName" name="fullName" type="text" minlength="2" class="validate">
        <label for="fullName">Full name</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
      </div>
      <div class="input-field col s12">
        <input id="email" name="email" type="email" class="validate">
        <label for="email">Email</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
      </div>
      <p><input type=submit value="Submit message"></p>
    </form>
  </div>
</div>

<table class="striped centered responsive-table ">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th></th>
      <th>Full name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < users.length; i++) { %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= users[i].email %></td>

      <td>
        <a class="waves-effect waves-light btn modal-trigger" href="#modalEditUser<%= i+1 %>">update</a>
        <div id="modalEditUser<%= i+1 %>" class="modal">
          <div class="modal-content">
            <h4>New user:</h4>
            <form method="POST" action="/v1/users/update">
              <div class="input-field col s12">
                <input id="fullName" name="fullName" type="text" minlength="2" class="validate"
                  value="<%= users[i].fullName %>">
                <label for="fullName">Full name</label>
                <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
              </div>
              <input type=text name="id" hidden value="<%= users[i]._id %>">
              <p><input class="waves-effect waves-light btn" type=submit value="Submit message"></p>
            </form>
          </div>
        </div>
      </td>

      <td><%= users[i].fullName %></td>
      <td>
        <a class="waves-effect waves-light btn modal-trigger" href="#modalDeleteUser<%= i+1 %>">delete</a>
        <div id="modalDeleteUser<%= i+1 %>" class="modal">
          <div class="modal-content">
            <h4>Do you want to delete the user <%= users[i].fullName %>?:</h4>
            <form method="POST" action="/v1/users/delete">
              <input hidden name="id" type="text" value="<%= users[i]._id %>">
              <input class="waves-effect waves-light btn" type=submit value="Yes">
            </form>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
          </div>
        </div>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>